@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination {
    margin-top: 50px;
    position: none;
    text-align: center;
    transition: 300ms opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
}